{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/name.css' %}">
    <!-- <style>
        h1{
            color: chocolate;
        }
    </style> -->
</head>

<body>
    <h1 style="color:  rgb(255, 0, 0);">this is heading</h1>
    <h1 class="v2">kasim a bad boy</h1>
    <h1 id="v1">kasim is a good boy forever</h1>
    <p class="v2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consectetur laboriosam voluptatibus
        eos.
        Delectus dignissimos odio aliquid soluta hic saepe magnam eum veritatis incidunt. Fugit blanditiis numquam vel
        vero perspiciatis.</p>
    <h2 class="v2">this is head</h2>
    <h1>dfghjkl;</h1>
    <h2>asdfghj</h2>
    <h3>fghjkl</h3>
    <!-- <p class="v3"> Lorem ipsum dolor sit <span> amet consectetur adipisicing elit.</span> Excepturi nobis accusantium,
        corporis consequuntur
        quidem totam dolore quibusdam architecto laboriosam, rerum ab rem nesciunt. Sed quas quaerat totam. Autem,
        debitis est?</p> -->
    <form action="">
        <input type="text">
    </form>
    <a href="{% url 'bl' %}">blog</a>
    <a href="{%  url 'pl' %}" class="v5">placement</a>
    <a href="{% url 'ab' %}">aboutus</a>
    <h6 align="center">sdfghjklfgafgshdjfk,ggahsjdkf ghsjdkflgnm,v hsjdkf</h6>
    <div style="background-color:lightblue ; width: 200%">
        <br><br>
<p> Lorem ipsum dolor sit amet consectetur <span> adipisicing elit.</span> Nemo aperiam aliquid omnis sapiente, adipisci a nam
        officiis voluptatibus reprehenderit quam sequi provident quibusdam quis eligendi vero cum temporibus, modi ea.</p>

    
    </div>
    <span>asdfghsdfg</span>




</body>

</html>